*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
body{
  background: rgba(56, 65, 224, 1);
  height: 100vh;
  width: 100%;
}

/* ----NAVIGATION STYLES---- */

.container-border{
  transition: all 0.2s ease-in;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid black;
  transform: scale(0.8);
}
.navigation{
  width: 100%;
  position: fixed;
  top: 2.5%;
  z-index: 3;
}
.navbutton-style{
  background: black;
  border-color: black;
}
.navbutton-style:active{
  background: grey;
  border-color: grey;
}
.navigation-center{
  margin: auto;
  width: 40%;
}
.hamburger-lines{
  background-color: white;
  width: 20px;
  height: 3px;
  margin: 3px;
}
.user-button{
  float: right;
}
.hamburger-button{
  float: left;
}

/* ----OVERLAY STYLE---- */

.overlay{
  background: rgba(56, 65, 224, 1);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.margin-below{
  margin: 5%;
}

.leader{
  width: inherit;
  height: 40%;
  display: inherit;
  flex-direction: inherit;
  justify-content: center;
  align-items: center;
}
.leader-player{
  display: inherit;
  flex-direction: inherit;
  padding: 20px;
  align-items: center;
}
.player-list{
  margin: auto;
  width: 60%;
  display: inherit;
  flex-direction: inherit;
  background: rgba(237, 237, 237, 1);
  align-items: center;
  height: 60%;
  border-radius: 50px 50px 0px 0px;
}
.player-padding{
  padding: 20px;
}
.player-box{
  width: 100%;
  display: inherit;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.player-row{
  padding: 10px;
  height: 35px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ----MAIN APP BODY STYLES----- */

.alert-gradient{
  background: rgba(56, 65, 224, 1);
  background: radial-gradient(circle, rgba(56, 65, 224, 1) 0%, rgba(56, 65, 224, 1) 37%, rgba(255,0,0,1) 100%);
}
.success-gradient{
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(56, 65, 224, 1) 0%, rgba(56, 65, 224, 1) 37%, rgba(0,255,111,1) 100%);
}
#App{
  transition: all 0.6s linear;
  margin: auto;
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
}
.brand-logo{
  width: 25vh;
}
.starter-hero{
}
.starter-hero-header{
  font-size: 40px;
}
.black{
  font-weight: 900;
}
.semi-bold{
  font-weight: 600;
}
.underline{
  text-decoration: underline;
}
.text-white{
  color: white;
}
.sub-text{
  letter-spacing: 0.035em;
}
.dec-none{
  text-decoration: none;
}
#starter-form{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
}
.border-none{
  background: none;
  border-style: none;
}
.form-line{
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-bottom: 20px;
}
.button{
  color: black;
  text-decoration: none;
  border-style: none;
  background: grey;
  padding: 10px;
  border-radius: 22px;
  font-size: 13px;
  font-weight: 600;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button-large{
  margin: 10px;
  padding: 15px 60px 15px 60px;
  font-size: 25px;
}
.button-orange{
  background: #F0C020;
}
.button-red{
  background: #FF6464;
}
.button-green{
  background: #52FF82;
}
.intermediary-header{
  width: 90vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.count-header{
  font-size: 200px;
}

/* STYLING FOR THE BADGE */
/* AND LIFE SCREEN */

.badge{
  background:rgba(255, 102, 102, 1);
  border-radius: 20px;
  width: 65px;
  height: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.badge-heart{
  padding-left: 5px;
  width: 20px;
  filter: invert();
}
.badge-life{
  padding-right: 8px;
}

/* STYLING FOR RULES PAGE */
.rules{
  position: fixed;
  z-index: 20;
  background: #22a6b3;
  width: 40%;
  padding-bottom: 40px;
}
.rules-exit{
  margin: 10px;
  width: 25px;
}
.rules-box{
  margin: auto;
  background: white;
  width: 80%;
  padding: 20px;
  word-wrap: break-word;
}
.rules-box li{
  margin-top: 10px;
}

.reload-game{
  position: fixed;
  z-index: 20;
  background: #f6e58d;
  width: 40%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.reload-button{
  margin: 5px;
  padding: 10px;
  border-style: none;
  background: white;
  border-radius: 10px;
}
.close-button{
  background: #eb4d4b;
}
.yes-button{
  background: #6ab04c;
}

.shake{
  position: relative;
  animation: shake linear 300ms;
}
@keyframes shake{
  0%{
    right: 0%;
  }
  25%{
    right: 1%;
  }
  50%{
    right: -1%;
  }
  75%{
    right: 1%;
  }
  100%{
    right: 0%;
  }
}
/* Animation for menu entry */
.zoom{
  animation: zoom linear 300ms;
}
@keyframes zoom{
  0%{
    opacity: 0;
    transform: scale(0.5);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

.reverse-zoom{
  animation: reverse-zoom linear 300ms;
}
@keyframes reverse-zoom{
  0%{
    background: transparent;
    opacity: 1;
    transform: scale(1);
  }
  100%{
    background: transparent;
    opacity: 0;
    transform: scale(0.5);
  }
}

/* Animation for numbers */
.count-anim{
  position: relative;
  animation: float-up linear 1200ms;
}
@keyframes float-up{
  0%{
    opacity: 0;
    bottom: -100px;
  }
  30%{
    opacity: 1;
    bottom: 0px;
  }
  70%{
    opacity: 1;
    bottom: 0px;
  }
  100%{
    opacity: 0;
    bottom: 100px;
  }
}
/* Animation for float up */

.entry{
  position: relative;
  animation: entryAnim linear 400ms;
}

@keyframes entryAnim{
  0%{
    opacity: 0;
    top: -100px;
  }
  100%{
    opacity: 1;
    top: 0px;
  }
}

.fadeIn{
  animation: fadeIn linear 300ms;
}


@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.fadeOut{
  animation: fadeOut linear 600ms;
}


@keyframes fadeOut{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}


#quote{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid rgba(249, 103, 103, 1);
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.quote-card-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-card{
  width: 70%;
  padding: 20px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 768px){
  .navigation-center{
    width: 95%;
  }
  #App{
    width: 95%;
  }
  .rules{
    width: 95%;
  }
  .reload-game{
    width: 90%;
  }
  .player-list{
    width: 100%;
  }
  .brand-logo{
    width: 30vw;
  }
  .starter-hero-header{
    font-size: 33px;
  }
  .sub-text{
    font-size: 12px;
  }
  .form-line{
    width: 100%;
  }
  #starter-form{
    width: 60%;
  }
  .count-header{
    font-size: 30vw;
  }
  .quote-card{
    width: 85%;
  }
}


.none{
  display: none !important;
}
.through{
  opacity: 0;
}
.underline{
  text-decoration: underline;
}
