*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
body{
  background: rgba(56, 65, 224, 1);
  height: 100vh;
  width: 100%;
}

#App{
  transition: all 0.4s linear;
  margin: auto;
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
}
.brand-logo{
  width: 25vh;
}
.starter-hero{
}
.starter-hero-header{
  font-size: 40px;
}
.black{
  font-weight: 900;
}
.semi-bold{
  font-weight: 600;
}
.underline{
  text-decoration: underline;
}
.text-white{
  color: white;
}
.sub-text{
  letter-spacing: 0.035em;
}
#starter-form{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
}
.border-none{
  background: none;
  border-style: none;
}
.form-line{
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-bottom: 20px;
}
.button{
  color: black;
  text-decoration: none;
  border-style: none;
  background: grey;
  padding: 10px;
  border-radius: 22px;
  font-size: 13px;
  font-weight: 600;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button-large{
  margin: 10px;
  padding: 15px 60px 15px 60px;
  font-size: 25px;
}
.button-orange{
  background: #F0C020;
}
.button-red{
  background: #FF6464;
}
.button-green{
  background: #52FF82;
}
.intermediary-header{
  width: 90vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.count-header{
  font-size: 200px;
}

/* Animation for numbers */
.count-anim{
  position: relative;
  animation: float-up linear 1200ms;
}
@keyframes float-up{
  0%{
    opacity: 0;
    bottom: -100px;
  }
  30%{
    opacity: 1;
    bottom: 0px;
  }
  70%{
    opacity: 1;
    bottom: 0px;
  }
  100%{
    opacity: 0;
    bottom: 100px;
  }
}
/* Animation for float up */

.entry{
  position: relative;
  animation: entryAnim linear 400ms;
}

@keyframes entryAnim{
  0%{
    opacity: 0;
    top: -100px;
  }
  100%{
    opacity: 1;
    top: 0px;
  }
}

.fadeIn{
  animation: fadeIn linear 300ms;
}


@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.fadeOut{
  animation: fadeIn linear 600ms;
}


@keyframes fadeIn{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}


#quote{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid rgba(249, 103, 103, 1);
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.quote-card-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-card{
  width: 70%;
  padding: 20px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 768px){
  #App{
    width: 95%;
  }
  .brand-logo{
    width: 30vw;
  }
  .starter-hero-header{
    font-size: 33px;
  }
  .sub-text{
    font-size: 12px;
  }
  .form-line{
    width: 100%;
  }
  #starter-form{
    width: 60%;
  }
  .count-header{
    font-size: 30vw;
  }
  .quote-card{
    width: 85%;
  }
}


.none{
  display: none !important;
}
