*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
body{
  background: rgba(56, 65, 224, 1);
  height: 100vh;
  width: 100%;
}

#App{
  margin: auto;
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
}
.brand-logo{
  width: 25vh;
}
.starter-hero{
}
.starter-hero-header{
  font-size: 40px;
}
.black{
  font-weight: 900;
}
.semi-bold{
  font-weight: 600;
}
.underline{
  text-decoration: underline;
}
.text-white{
  color: white;
}
.sub-text{
  letter-spacing: 0.035em;
}
#starter-form{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
}
.border-none{
  background: none;
  border-style: none;
}
.form-line{
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-bottom: 20px;
}
.button{
  border-style: none;
  background: grey;
  padding: 10px;
  border-radius: 22px;
  font-size: 13px;
  font-weight: 600;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button-large{
  margin: 10px;
  padding: 15px 60px 15px 60px;
  font-size: 25px;
}
.button-orange{
  background: #F0C020;
}
.button-red{
  background: #FF6464;
}
.button-green{
  background: #52FF82;
}
.intermediary-header{
  width: 90vw;
}

@media only screen and (max-width: 768px){
  .brand-logo{
    width: 30vw;
  }
  .starter-hero-header{
    font-size: 33px;
  }
  .sub-text{
    font-size: 12px;
  }
  .form-line{
    width: 100%;
  }
  #starter-form{
    width: 60%;
  }
}
